<%-include('partials/header.ejs')%>
 <form action="/Favoritos/editar" method="post">
    <label>Escolha seu Genero:</label>
    <input type="hidden" name="id" value="<%= favoritos.id%>">
    <input type="text" name="titulo" required placeholder="Insira o titulo do filme..."  value="<%= favoritos.titulo%>">
    <input type="text" name="Duracao" required placeholder="Insira a duração do filme..."   value="<%= favoritos.duracao%>">
    <select name="generoid" id="">
        <%genero.forEach(gen =>{ %>
            <option value="<%= gen.id%>"> <%= gen.titulo %></option>
         <%})%>   

    </select>
    <button type="submit">
        Inserir
    </button>
 </form>
    <div>
        <h1 class="filmes">
          ❤️ Meus Filmes Favoritos de Terror!
        </h1>
<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>