 <%-include('partials/header.ejs')%>
<br>
 <div class="container">
    <div class="card">
        <div class="card-header">
            <h1> Cadastrar Favoritos</h1>
        </div>
        <div class="card-body">
            <form action="/Favoritos/Cadastrar" method="POST">
                <label>Digite o título:</label>
                <input type="text" name="titulo" required placeholder="Insira o titulo do filme..."  class="form-control" >
                <label>Digite a duração:</label>
                <input type="text" name="Duracao" required placeholder="Insira a duração do filme..."  class="form-control" >
                <label>Escolha o genero::</label>
                <select name="generoid" id=""   class="form-control" >
                    <%genero.forEach(gen =>{ %>
                        <option value="<%= gen.id%>"> <%= gen.titulo %></option>
                    <%})%>   
                </select>
                <button type="submit" class="btn btn-success"> Cadastrar </button>
                <button type="reset" class="btn btn-danger"> Limpar</button>
            </form>
        </div>
    </div>
</div>
<br>
    <div>
        <h1 class="filmes">
          ❤️ Meus Filmes Favoritos de Terror!
        </h1>
    
<div class="container-noticias">
        <table>
            <th>
                Titulo
            </th>
            <th>
                Duração
            </th>
            <th>
                Genêro
            </th>
            <th>
                Ações
            </th>
           <% favoritos.forEach((Favorito)=> {%>
               <tr>
                    <td>
                        <%= Favorito.titulo %>
                    </td>
                    <td>
                        <%= Favorito.duracao %>
                    </td>
                    <td>
                        <%= Favorito.genero.titulo %>
                    </td>
                    <td>
                        <a href="/Favoritos/Excluir/<%=Favorito.id%>"> <button>Excluir</button></a>
                        <a href="/Favoritos/Alterar/<%=Favorito.id%>"> <button>Alterar</button></a>
                    </td>
                </tr>
            <%}) %>


        </table>

</div>

<div class="voltar">
    <a href="/">Voltar para o catálogo</a>
</div>
</body>
</html>